@wapl:registry=http://192.168.157.52:4872
@tmaxoffice:registry=http://192.168.2.201/api/v4/packages/npm/
'//192.168.2.201/api/v4/packages/npm/:_authToken'="kZY8asmf-ogV_o8r7ks7"
'//192.168.2.201/api/v4/projects/31/packages/npm/:_authToken'="kZY8asmf-ogV_o8r7ks7"
'//192.168.2.201/api/v4/projects/127/packages/npm/:_authToken'="kZY8asmf-ogV_o8r7ks7"
@shell:registry=http://192.168.157.52:4872
@org:registry=http://192.168.157.52:4872